# Supervised Learning - Building a Student Performace Prediction System

# Classification vs. Regression
The aim of this project is to predict how likely a student is to pass. Which type of supervised learning problem is this, classification or regression? Why?
Answer:
This project is a classification supervised learning problem because the variable to predict, i.e. if a student graduates or fails to graduate, is categorical. On this case this a dichotomous categorical variable where the only two possible values are "pass" or "fail".

### Overview:

1.Read the problem statement.

2.Get the dataset.

3.Explore the dataset.

4.Pre-processing of dataset.

5.Transform the dataset for building machine learning model.

6.Split data into train, test set.

7.Build Model.

8.Apply the model.

9.Evaluate the model.

10.Provide insights.

## Problem Statement 

Using Logistic Regression **predict the performance of student**. The classification goal is to predict whether the student will pass or fail.

## Dataset 

This data approach student achievement in secondary education of two Portuguese schools. The data attributes include student grades, demographic, social and school related features) and it was collected by using school reports and questionnaires. Two datasets are provided regarding the performance in Mathematics.

**Source:** https://archive.ics.uci.edu/ml/datasets/Student+Performance

# Question 1 - Exploring the Data (0.5 points)
*Read the dataset file using pandas. Take care about the delimiter.*

#### Answer:

In [1]:
import warnings 
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
students_df = pd.read_csv('students-data.csv', ';')
students_df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

# Question 2 - drop missing values (0.5 points)
*Set the index name of the dataframe to **"number"**. Check sample of data to drop if any missing values are there.*
*Use .dropna() function to drop the NAs*

#### Answer:

In [3]:
students_df.index.name='number'

In [4]:
students_df.dropna()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
number,,,,,,,,,,,,,,,,,,,,,
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
5,GP,M,16,U,LE3,T,4,3,services,other,...,5,4,2,1,2,5,10,15,15,15
6,GP,M,16,U,LE3,T,2,2,other,other,...,4,4,4,1,1,3,0,12,12,11
7,GP,F,17,U,GT3,A,4,4,other,teacher,...,4,1,4,1,1,1,6,6,5,6
8,GP,M,15,U,LE3,A,3,2,services,other,...,4,2,2,1,1,1,0,16,18,19
9,GP,M,15,U,GT3,T,3,4,other,other,...,5,5,1,1,1,5,0,14,15,15
10,GP,F,15,U,GT3,T,4,4,teacher,health,...,3,3,3,1,2,2,0,10,8,9
11,GP,F,15,U,GT3,T,2,1,services,other,...,5,2,2,1,1,4,4,10,12,12
12,GP,M,15,U,LE3,T,4,4,health,services,...,4,3,3,1,3,5,2,14,14,14
13,GP,M,15,U,GT3,T,4,3,teacher,other,...,5,4,3,1,2,3,2,10,10,11
14,GP,M,15,U,GT3,A,2,2,other,other,...,4,5,2,1,1,3,0,14,16,16
15,GP,F,16,U,GT3,T,4,4,health,other,...,4,4,4,1,2,2,4,14,14,14
16,GP,F,16,U,GT3,T,4,4,services,services,...,3,2,3,1,2,2,6,13,14,14
17,GP,F,16,U,GT3,T,3,3,other,other,...,5,3,2,1,1,4,4,8,10,10
18,GP,M,17,U,GT3,T,3,2,services,services,...,5,5,5,2,4,5,16,6,5,5
19,GP,M,16,U,LE3,T,4,3,health,other,...,3,1,3,1,3,5,4,8,10,10
20,GP,M,15,U,GT3,T,4,3,teacher,other,...,4,4,1,1,1,1,0,13,14,15
21,GP,M,15,U,GT3,T,4,4,health,health,...,5,4,2,1,1,5,0,12,15,15
22,GP,M,16,U,LE3,T,4,2,teacher,other,...,4,5,1,1,3,5,2,15,15,16
23,GP,M,16,U,LE3,T,2,2,other,other,...,5,4,4,2,4,5,0,13,13,12
24,GP,F,15,R,GT3,T,2,4,services,health,...,4,3,2,1,1,5,2,10,9,8
25,GP,F,16,U,GT3,T,2,2,services,services,...,1,2,2,1,3,5,14,6,9,8
26,GP,M,15,U,GT3,T,2,2,other,other,...,4,2,2,1,2,5,2,12,12,11
27,GP,M,15,U,GT3,T,4,2,health,services,...,2,2,4,2,4,1,4,15,16,15
28,GP,M,16,U,LE3,A,3,4,services,other,...,5,3,3,1,1,5,4,11,11,11
29,GP,M,16,U,GT3,T,4,4,teacher,teacher,...,4,4,5,5,5,5,16,10,12,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,MS,M,18,R,GT3,T,1,3,at_home,other,...,3,3,4,2,4,3,4,10,10,10
366,MS,M,18,U,LE3,T,4,4,teacher,services,...,4,2,2,2,2,5,0,13,13,13
367,MS,F,17,R,GT3,T,1,1,other,services,...,5,2,1,1,2,1,0,7,6,0
368,MS,F,18,U,GT3,T,2,3,at_home,services,...,5,2,3,1,2,4,0,11,10,10
369,MS,F,18,R,GT3,T,4,4,other,teacher,...,3,2,2,4,2,5,10,14,12,11
370,MS,F,19,U,LE3,T,3,2,services,services,...,3,2,2,1,1,3,4,7,7,9
371,MS,M,18,R,LE3,T,1,2,at_home,services,...,4,3,3,2,3,3,3,14,12,12
372,MS,F,17,U,GT3,T,2,2,other,at_home,...,3,4,3,1,1,3,8,13,11,11
373,MS,F,17,R,GT3,T,1,2,other,other,...,3,5,5,1,3,1,14,6,5,5
374,MS,F,18,R,LE3,T,4,4,other,other,...,5,4,4,1,1,1,0,19,18,19
375,MS,F,18,R,GT3,T,1,1,other,other,...,4,3,2,1,2,4,2,8,8,10
376,MS,F,20,U,GT3,T,4,2,health,other,...,5,4,3,1,1,3,4,15,14,15
377,MS,F,18,R,LE3,T,4,4,teacher,services,...,5,4,3,3,4,2,4,8,9,10
378,MS,F,18,U,GT3,T,3,3,other,other,...,4,1,3,1,2,1,0,15,15,15
379,MS,F,17,R,GT3,T,3,1,at_home,other,...,4,5,4,2,3,1,17,10,10,10
380,MS,M,18,U,GT3,T,4,4,teacher,teacher,...,3,2,4,1,4,2,4,15,14,14
381,MS,M,18,R,GT3,T,2,1,other,other,...,4,4,3,1,3,5,5,7,6,7
382,MS,M,17,U,GT3,T,2,3,other,services,...,4,4,3,1,1,3,2,11,11,10
383,MS,M,19,R,GT3,T,1,1,other,services,...,4,3,2,1,3,5,0,6,5,0
384,MS,M,18,R,GT3,T,4,2,other,other,...,5,4,3,4,3,3,14,6,5,5
385,MS,F,18,R,GT3,T,2,2,at_home,other,...,5,3,3,1,3,4,2,10,9,10
386,MS,F,18,R,GT3,T,4,4,teacher,at_home,...,4,4,3,2,2,5,7,6,5,6
387,MS,F,19,R,GT3,T,2,3,services,other,...,5,4,2,1,2,5,0,7,5,0
388,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,3,4,1,1,1,0,7,9,8
389,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,1,1,5,0,6,5,0
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [5]:
# No missing values found

# Transform Data

## Question 3 (0.5 points)

*Print all the attribute names which are not numerical.*

**Hint:** check **select_dtypes()** and its **include** and **exclude** parameters.**

#### Answer:

In [6]:

students_df.select_dtypes(exclude=['int64']).columns
#students_df.select_dtypes(exclude=np.number)

Index(['school', 'sex', 'address', 'famsize', 'Pstatus', 'Mjob', 'Fjob',
       'reason', 'guardian', 'schoolsup', 'famsup', 'paid', 'activities',
       'nursery', 'higher', 'internet', 'romantic'],
      dtype='object')

# Question 4 - Drop variables with less variance (0.5 points)

*Find the variance of each numerical independent variable and drop whose variance is less than 1. Use .var function to check the variance*

In [7]:
less=(students_df.var()<1)
col=[i for i in less.keys() if less.get(i)==True]
col

['traveltime', 'studytime', 'failures', 'famrel', 'freetime', 'Dalc']

In [8]:
# students_df.var()
# columns_remove = []
# for column in students_df.select_dtypes(exclude=['int64']).columns:
#     if students_df[column].var()<1:
#         columns_remove.append(column)
        
# print(columns_remove)

In [9]:
#list=['traveltime','studytime','failures','famrel','freetime','Dalc']
# students_df.drop[col,axis=1,inplace=True]
students_df.drop(columns=col, inplace=True)

In [10]:
students_df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,higher,internet,romantic,goout,Walc,health,absences,G1,G2,G3
number,,,,,,,,,,,,,,,,,,,,,
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,yes,no,no,4,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,yes,yes,no,3,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,yes,yes,no,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,yes,yes,yes,2,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,yes,no,no,2,2,5,4,6,10,10

#### Variables with less variance are almost same for all the records. Hence, they do not contribute much for classification.

# Question 6 - Encode all categorical variables to numerical (0.5 points)

Take the list of categorical attributes(from the above result) and convert them into neumerical variables. After that, print the head of dataframe and check the values.

**Hint:** check **sklearn LabelEncoder()**

#### Answer:

In [11]:
cat_labels=students_df.select_dtypes(exclude=np.number).columns
cat_labels

Index(['school', 'sex', 'address', 'famsize', 'Pstatus', 'Mjob', 'Fjob',
       'reason', 'guardian', 'schoolsup', 'famsup', 'paid', 'activities',
       'nursery', 'higher', 'internet', 'romantic'],
      dtype='object')

In [12]:
from sklearn.preprocessing import  LabelEncoder
labelEncoder=LabelEncoder()
students_df[cat_labels]=students_df[cat_labels].apply(labelEncoder.fit_transform)
students_df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,higher,internet,romantic,goout,Walc,health,absences,G1,G2,G3
number,,,,,,,,,,,,,,,,,,,,,
0,0,0,18,1,0,0,4,4,0,4,...,1,0,0,4,1,3,6,5,6,6
1,0,0,17,1,0,1,1,1,0,2,...,1,1,0,3,1,3,4,5,5,6
2,0,0,15,1,1,1,1,1,0,2,...,1,1,0,2,3,3,10,7,8,10
3,0,0,15,1,0,1,4,2,1,3,...,1,1,1,2,1,5,2,15,14,15
4,0,0,16,1,0,1,3,3,2,2,...,1,0,0,2,2,5,4,6,10,10

# Question 7 - Convert the continuous values of grades into classes (1 point)

*Consider the values in G1, G2 and G3 with >= 10 as pass(1) and < 10 as fail(0) and encode them into binary values. Print head of dataframe to check the values.*

#### Answer:

In [13]:
# students_df['G1']=students_df['G1'].apply(lambda x: x>=10)

In [14]:
# students_df['G2']=students_df['G2'].apply(lambda x: x>=10)

In [15]:
# students_df['G3']=students_df['G3'].apply(lambda x: x>=10)

In [23]:
row_count=students_df.shape[0]-1
print(row_count)

394

In [24]:
# grades=['G1','G2','G3']
# for g in grades:
#     for row in students_df[g]
#     if row >= 10
#         row = 1
#     else
#         row = 0
for index in range(0, row_count):
    if students_df.loc[index]['G1']>=10:
        students_df.loc[index]['G1']=1
    else:
        students_df.loc[index]['G1']=0
            
    if students_df.loc[index]['G2']>=10:
        students_df.loc[index]['G2']=1
    else:
        students_df.loc[index]['G2']=0
            
    if students_df.loc[index]['G3']>=10:
        students_df.loc[index]['G3']=1
    else:
        students_df.loc[index]['G3']=0

In [25]:
students_df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,higher,internet,romantic,goout,Walc,health,absences,G1,G2,G3
number,,,,,,,,,,,,,,,,,,,,,
0,0,0,18,1,0,0,4,4,0,4,...,1,0,0,4,1,3,6,0,0,0
1,0,0,17,1,0,1,1,1,0,2,...,1,1,0,3,1,3,4,0,0,0
2,0,0,15,1,1,1,1,1,0,2,...,1,1,0,2,3,3,10,0,0,1
3,0,0,15,1,0,1,4,2,1,3,...,1,1,1,2,1,5,2,1,1,1
4,0,0,16,1,0,1,3,3,2,2,...,1,0,0,2,2,5,4,0,1,1

In [26]:
students_df[['G1','G2','G3']]=students_df[['G1','G2','G3']].apply(labelEncoder.fit_transform)
students_df.corr()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,higher,internet,romantic,goout,Walc,health,absences,G1,G2,G3
school,1.000000,-0.012286,0.377610,-0.279797,0.064866,0.045923,-0.133333,-0.079807,-0.056670,0.018974,...,-0.024150,-0.133578,0.060700,-0.007152,0.065087,-0.042651,-0.088480,-0.007620,-0.049010,-0.031254
sex,-0.012286,1.000000,-0.028606,-0.028504,0.089862,0.023443,0.078228,0.034878,0.191421,0.084957,...,-0.151056,0.044113,-0.102023,0.075897,0.274194,0.143588,-0.066962,0.076348,0.064276,0.070618
age,0.377610,-0.028606,1.000000,-0.146722,0.037847,0.029598,-0.163658,-0.163438,-0.069104,-0.035191,...,-0.209081,-0.112094,0.164669,0.126964,0.117276,-0.062187,0.175230,-0.062674,-0.157843,-0.179645
address,-0.279797,-0.028504,-0.146722,1.000000,0.072472,-0.042572,0.138804,0.072178,0.108818,-0.001911,...,0.042854,0.216842,0.005257,0.068835,-0.101126,-0.040355,-0.027874,0.055338,0.094195,0.052282
famsize,0.064866,0.089862,0.037847,0.072472,1.000000,-0.149612,-0.043068,-0.058879,0.071386,-0.084448,...,-0.005806,0.000720,0.034395,0.023064,0.103425,-0.028992,0.035783,0.034724,0.071031,0.041842
Pstatus,0.045923,0.023443,0.029598,-0.042572,-0.149612,1.000000,-0.123565,-0.088730,-0.054476,0.033892,...,-0.040735,0.070074,-0.040451,0.003459,0.006045,0.022307,-0.134937,-0.012787,-0.019852,-0.044050
Medu,-0.133333,0.078228,-0.163658,0.138804,-0.043068,-0.123565,1.000000,0.623455,0.454805,0.157920,...,0.168845,0.201463,0.039681,0.064094,-0.047123,-0.046878,0.100285,0.204648,0.169848,0.115396
Fedu,-0.079807,0.034878,-0.163438,0.072178,-0.058879,-0.088730,0.623455,1.000000,0.243327,0.200169,...,0.174566,0.127507,0.015602,0.043105,-0.012631,0.014742,0.024473,0.209010,0.193714,0.108057
Mjob,-0.056670,0.191421,-0.069104,0.108818,0.071386,-0.054476,0.454805,0.243327,1.000000,0.196758,...,0.097887,0.216969,-0.062999,0.003169,-0.012051,0.065220,0.050254,0.073532,0.037497,0.026592
Fjob,0.018974,0.084957,-0.035191,-0.001911,-0.084448,0.033892,0.157920,0.200169,0.196758,1.000000,...,-0.045250,0.035777,-0.000583,0.010340,0.070024,-0.018058,0.008196,0.036116,0.006251,0.028309
reason,-0.090010,-0.095867,-0.015337,-0.047891,-0.019212,-0.003553,0.117653,0.043099,0.022022,-0.027688,...,0.058504,0.049916,0.018894,-0.050937,-0.044699,-0.157132,0.116909,0.071305,0.101407,0.099300
guardian,0.011109,-0.071343,0.290485,-0.044512,-0.002718,-0.108715,-0.023918,-0.133644,0.014787,-0.080511,...,-0.020179,-0.059394,0.093945,0.056557,-0.040810,-0.067497,0.163752,-0.077274,-0.121704,-0.101407
schoolsup,-0.139789,-0.138271,-0.251811,0.024712,-0.028642,-0.042238,-0.036029,0.037530,-0.040958,-0.011657,...,0.054486,-0.009683,-0.080716,-0.037698,-0.087152,-0.034124,0.022526,-0.152078,-0.096181,-0.099860
famsup,-0.164967,-0.151623,-0.140609,0.023903,-0.112893,0.019067,0.183727,0.185496,0.050667,-0.030159,...,0.100815,0.103581,0.012440,-0.015631,-0.086688,0.029297,0.024353,-0.065009,-0.027475,-0.059219
paid,-0.017083,-0.129126,-0.035933,0.052800,-0.013882,0.046435,0.159700,0.086981,0.096566,-0.040435,...,0.189214,0.153132,0.005536,0.010493,0.060454,-0.078132,0.007435,0.064257,0.083171,0.092665
activities,-0.116946,0.099833,-0.103063,-0.051360,-0.000113,0.097352,0.108277,0.112643,0.098754,0.032391,...,0.096484,0.048663,0.019651,0.046088,-0.037477,0.023923,-0.013610,0.023832,0.045045,0.012414
nursery,-0.089277,-0.008203,-0.086632,0.059589,0.102088,-0.090615,0.193263,0.157177,0.095848,-0.030812,...,0.054303,0.007830,0.027495,0.004612,-0.099534,-0.018475,0.019155,0.024580,0.000789,-0.008784
higher,-0.024150,-0.151056,-0.209081,0.042854,-0.005806,-0.040735,0.168845,0.174566,0.097887,-0.045250,...,1.000000,0.020374,-0.105664,-0.039700,-0.100340,-0.015895,-0.056085,0.139813,0.158064,0.157708
internet,-0.133578,0.044113,-0.112094,0.216842,0.000720,0.070074,0.201463,0.127507,0.216969,0.035777,...,0.020374,1.000000,0.087122,0.074370,0.011687,-0.080189,0.101701,0.060436,0.106919,0.061791
romantic,0.060700,-0.102023,0.164669,0.005257,0.034395,-0.040451,0.039681,0.015602,-0.062999,-0.000583,...,-0.105664,0.087122,1.000000,0.007870,-0.010141,0.026342,0.153384,0.027438,-0.069049,-0.097737
goout,-0.007152,0.075897,0.126964,0.068835,0.023064,0.003459,0.064094,0.043105,0.003169,0.010340,...,-0.039700,0.074370,0.007870,1.000000,0.420386,-0.009577,0.044302,-0.083237,-0.193901,-0.183399
Walc,0.065087,0.274194,0.117276,-0.101126,0.103425,0.006045,-0.047123,-0.012631,-0.012051,0.070024,...,-0.100340,0.011687,-0.010141,0.420386,1.000000,0.092476,0.136291,-0.068327,-0.132493,-0.029957
health,-0.042651,0.143588,-0.062187,-0.040355,-0.028992,0.022307,-0.046878,0.014742,0.065220,-0.018058,...,-0.015895,-0.080189,0.026342,-0.009577,0.092476,1.000000,-0.029937,-0.050424,-0.064412,-0.065668
absences,-0.088480,-0.066962,0.175230,-0.027874,0.035783,-0.134937,0.100285,0.024473,0.050254,0.008196,...,-0.056085,0.101701,0.153384,0.044302,0.136291,-0.029937,1.000000,-0.011447,-0.091540,-0.092244
G1,-0.007620,0.076348,-0.062674,0.055338,0.034724,-0.012787,0.204648,0.209010,0.073532,0.036116,...,0.139813,0.060436,0.027438,-0.083237,-0.068327,-0.050424,-0.011447,1.000000,0.716061,0.642974
G2,-0.049010,0.064276,-0.157843,0.094195,0.071031,-0.019852,0.169848,0.193714,0.037497,0.006251,...,0.158064,0.106919,-0.069049,-0.193901,-0.132493,-0.064412,-0.091540,0.716061,1.000000,0.825393
G3,-0.031254,0.070618,-0.179645,0.052282,0.041842,-0.044050,0.115396,0.108057,0.026592,0.028309,...,0.157708,0.061791,-0.097737,-0.183399,-0.029957,-0.065668,-0.092244,0.642974,0.825393,1.000000

# Question 8 (0.5 points)

*Consider G3 is the target attribute and remaining all attributes as features to predict G3. Now, separate feature and target attributes into separate dataframes with X and y variable names.*

In [30]:
Train_set=students_df.drop(columns='G3')

Test_set=students_df.pop('G3')

In [31]:
size=300/students_df.count()
size

school        0.759494
sex           0.759494
age           0.759494
address       0.759494
famsize       0.759494
Pstatus       0.759494
Medu          0.759494
Fedu          0.759494
Mjob          0.759494
Fjob          0.759494
reason        0.759494
guardian      0.759494
schoolsup     0.759494
famsup        0.759494
paid          0.759494
activities    0.759494
nursery       0.759494
higher        0.759494
internet      0.759494
romantic      0.759494
goout         0.759494
Walc          0.759494
health        0.759494
absences      0.759494
G1            0.759494
G2            0.759494
dtype: float64

# Question 9 - Training and testing data split (0.5 points)

# *So far, you have converted all categorical features into numeric values. Now, split the data into training and test sets with training size of 300 records. Print the number of train and test records.*

**Hint:** check **train_test_split()** from **sklearn**

#### Answer:

In [32]:
from sklearn.model_selection import  train_test_split
Xtrain,Xtest,Ytrain,Ytest=train_test_split(Train_set,Test_set,test_size=0.25,random_state=1)

In [33]:
Xtrain.shape

(296, 26)

# Question 10 - Model Implementation and Testing the Accuracy (0.5 points)

*Build a **LogisticRegression** classifier using **fit()** functions in sklearn. 
* You need to import both Logistic regression and accuracy score from sklearn*
#### Answer:

In [34]:
from sklearn.linear_model import LogisticRegression

In [35]:
model=LogisticRegression()
model.fit(Xtrain,Ytrain)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

# Question 11 - Print the intercept of the Logistic regression model (0.5 points)

The value of the intercepts are stored in the model itself. You can use .intercept_ function to do the same

In [36]:
model.intercept_

array([0.49678668])

# Question 12 - Print the coefficients of the model (0.5 points) and name the coefficient which has the highest impact on the dependent variable (0.5 points)

Hint: Use .coef_ to get the coefficients and use pd.Dataframe to store the coefficients in a dataframe with column names same as the independent variable dataframe

In [37]:
model.coef_

array([[ 0.07027723, -0.08926415, -0.16877031,  0.08331242,  0.20341835,
        -0.38257987,  0.21406968, -0.42584781, -0.11968208,  0.28854839,
         0.24859935,  0.04443033, -0.45656249, -0.39859617,  0.33442806,
        -0.23191181, -0.01114604,  1.10129806,  0.12150099, -0.64031283,
        -0.1827294 ,  0.30202428, -0.03738543, -0.02719112,  1.33225088,
         3.87723768]])

In [39]:
pd.DataFrame(model.coef_,columns=students_df.columns)
#G2 has the highest impact

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,nursery,higher,internet,romantic,goout,Walc,health,absences,G1,G2
0,0.070277,-0.089264,-0.16877,0.083312,0.203418,-0.38258,0.21407,-0.425848,-0.119682,0.288548,...,-0.011146,1.101298,0.121501,-0.640313,-0.182729,0.302024,-0.037385,-0.027191,1.332251,3.877238

# Question 13 - Predict the dependent variable for both training and test dataset (0.5 points)

Accuracy score() should help you to print the accuracies

In [40]:
from sklearn import  metrics
ypred=model.predict(Xtest)
acc=metrics.accuracy_score(Ytest,ypred)
print(acc)

0.9090909090909091